
body{
	background: url("nature.jpg") no-repeat;
	background-size: cover;
	color: white;

}
ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul li{
	float: left;
	width: 200px;
	height: 400px;
	background-color: black;
	opacity:.8;
}
